.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    z-index: 1;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__tab {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 70vw;
    transform: scale(0.5);
    transition: 0.2s all;
    transform-origin: center center;
    will-change: transform, opacity;
}

.modal__tab.active {
    transform: scale(1);
}

.modal__header-items {
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
    background-color: rgb(234, 239, 247);
    border-radius: 12px;
    user-select: none;
}

.md__header-item {
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 12px;
}

.md__header-item.active {
    background-color: rgb(110, 164, 244);
    transition: 0.4s ease;
}

.acc__img {
    position: relative;
    width: 100%;
    min-height: 100%;
}

.acc__avatar {
    overflow: hidden;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 3px solid teal;
}

.list__item {
    display: flex;
    border-bottom: solid 1px rgb(234, 239, 247);
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.account__details {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 33%;
}

.proxy__details {
    width: 33%;
    margin-left: -40px;
}

.account__details-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 10px 0;
}

h1{
    font-weight: 600;
    font-size: 15px;
}

p{
    font-size: 14px;
    color: dimgray;
}

.account__connect {
    padding: 10px 40px 10px 40px;
    margin-top: 10px;
    background-color: rgb(234, 239, 247);
    border-radius: 12px;
}

:where(.css-dev-only-do-not-override-m4timi).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border-color: rgb(110, 164, 244);
}

.proxy, .phone_req, .add__acc {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.request {
    display: flex;
    flex-direction: column;
}




.templates__list, .users__list {
    margin: 0 auto;
}

.template__info, .user__info {
    width: 70%;
}

.template__body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#template__remove {
    margin-right: 10px;
}

#template__edit:hover, #template__remove:hover {
    background-color: #4d6375;
    color: #fff;
    transition: ease .3s;
}

.templates__add {
    display: flex;
    flex-direction: column;
}



.status__head {
    margin: 10px 0 0 10px;
    display: flex;
    justify-content: space-between;
    width: 97%;
}

.statuses__color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.status__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.status_col, .status__text {
    width: 33%;
    margin-left: 10px;
}

.status__cou {
    color: #000000;
    font-weight: 600;
}