.sidebar {
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 100vh;
    background-color: rgb(234, 239, 247);
}

.App {
    display: flex;
    height: 100vh;
    width: 100%;
}

.dialogs__column {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: solid 1px #888888;
}

.head__wrapper {
    flex: 0 0 auto;
}

.list__wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
